@page
@model InstallAddressManualModel
@{
    ViewData["PageId"] = "CD106";
    ViewData["Title"] = "Enter installation address";
}
        
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" data-module="error-summary" aria-labelledby="error-summary-title">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @if (ViewBag.SortedErrors != null) {
                            @for (int i = 0; i < ViewBag.SortedErrors.Length; i++)
                            {
                                <li><a href="#@ViewBag.SortedErrorsKey[i]">@ViewBag.SortedErrors[i]</a></li>
                        
                            }
                        }
                    </ul>
                </div>
            </div>
        }
        <form method="POST" novalidate>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
                    <h1 class="govuk-fieldset__heading">
                        What is the installation address?
                    </h1>
                </legend>
                <p class="govuk-body">The property must be in England or Wales.</p>

                <div class="govuk-form-group @(ModelState.HasError("AddressLine1") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" asp-for="AddressLine1">
                        Address line 1
                    </label>
                    <div id="AddressLine1-hint" class="govuk-hint">
                        Include flat, unit, office and floor numbers, where appropriate
                    </div>
                    <p id="AddressLine1_Error" class="govuk-error-message" gds-validation-for="AddressLine1"></p>
                    <input class="govuk-input @(ModelState.HasError("AddressLine1") ? "govuk-input--error" : null)" maxlength="524288" id="AddressLine1" asp-for="AddressLine1" type="text" autocomplete="address-line1" aria-describedby="AddressLine1-hint @(ModelState.HasError("AddressLine1") ? "AddressLine1_Error": null)">
                </div>

                <div class="govuk-form-group @(ModelState.HasError("AddressLine2") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" asp-for="AddressLine2">
                        Address line 2 (optional)
                    </label>
                    <p id="AddressLine2_Error" class="govuk-error-message" gds-validation-for="AddressLine2"></p>
                    <input class="govuk-input @(ModelState.HasError("AddressLine2") ? "govuk-input--error" : null)" maxlength="524288" id="AddressLine2" asp-for="AddressLine2" type="text" autocomplete="address-line2" aria-describedby="@(ModelState.HasError("AddressLine2") ? "AddressLine2_Error": null)">
                </div>

                <div class="govuk-form-group @(ModelState.HasError("Town") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" asp-for="Town">
                        Town or city
                    </label>
                    <p id="Town_Error" class="govuk-error-message" gds-validation-for="Town"></p>
                    <input class="govuk-input govuk-!-width-two-thirds @(ModelState.HasError("Town") ? "govuk-input--error" : null)" maxlength="524288" id="Town" asp-for="Town" type="text" autocomplete="address-level2" aria-describedby="@(ModelState.HasError("Town") ? "Town_Error": null)">
                </div>

                <div class="govuk-form-group @(ModelState.HasError("County") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" asp-for="County">
                        County (optional)
                    </label>
                    <p id="County_Error" class="govuk-error-message" gds-validation-for="County"></p>
                    <input class="govuk-input govuk-!-width-two-thirds @(ModelState.HasError("County") ? "govuk-input--error" : null)" maxlength="524288" id="County" asp-for="County" type="text" aria-describedby="@(ModelState.HasError("County") ? "County_Error": null)">
                </div>

                <div class="govuk-form-group @(ModelState.HasError("Postcode") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" asp-for="Postcode">
                        Postcode
                    </label>
                    <p id="Postcode_Error" class="govuk-error-message" gds-validation-for="Postcode"></p>
                    <input class="govuk-input govuk-input--width-10 @(ModelState.HasError("Postcode") ? "govuk-input--error" : null)" id="Postcode" asp-for="Postcode" type="text" autocomplete="postal-code" aria-describedby="@(ModelState.HasError("Postcode") ? "Postcode_Error": null)">
                </div>

            </fieldset>

            <button id="continue-button" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
            <partial name="_CancelApplication" model="null" />
        </form>
    </div>
</div>